<div class="page content-screen-center">
    <form action="/joinChat" method="post">
        <div class="form-group">
            <h1>Join Chat Room</h1>
        </div>
        <div class="form-group">
            <label>Room Name: </label>
            <input type="text" name="username" id="username" placeholder="Enter a Room Name" required>
        </div>
        <div>
            <input type="submit" value="Join">
        </div>
    </form>
</div>